
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}



/* MAIN LAYOUT */

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(6, 150px);
}

.display {
    grid-column: 1 / 5;
}

.display-wrapper {
    margin: 0;
    padding: 10px 20px;
    height: 50%;
}

.display h2 {
    margin: 0;
}

button {
    width: 125px;
    height: 125px;
    place-self: center;
    position: relative;
}



/* THEME */

.wrapper {
    background: radial-gradient(
                        circle at center,
                        rgb(155, 167, 179), 
                        rgb(62, 79, 97));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background: rgb(30, 30, 30);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px 3px black;
    padding: 10px;
}

.display {
    background: rgb(168, 175, 123);
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgb(15, 15, 15);
}

.display h2 {
    font-family: monospace;
    color: black;
    text-align: end;
}

.prev-num-wrapper h2 {
    font-size: 2.5rem;
}

.curr-num-wrapper h2 {
    font-size: 3.8rem;
}

.display, button {
    border: 3px solid black;
    border-radius: 10px;
}

button {
    color: white;
    font-size: 1.6rem;
    box-shadow: 0 3px 0 0 black;
}

button:active, .active {
    top: 3px;
    box-shadow: none;
}

button:focus {
    outline: none;
}

.focus {
    border: 4px solid white;
}


.number, .negate, .percent {
    background: linear-gradient(
                    160deg, 
                    rgba(73, 80, 93, 1), 
                    rgba(34, 35, 43, 1));
}

.operator {
    background: linear-gradient(
                    160deg, 
                    rgba(168, 168, 168, 1), 
                    rgba(83, 82, 90, 1));
}

.clear {
    background: linear-gradient(
                    160deg, 
                    rgba(218, 104, 104, 1), 
                    rgba(190, 27, 27, 1));
}

.delete {
    background: linear-gradient(
                    160deg, 
                    rgba(92, 160, 214, 1), 
                    rgba(22, 78, 160, 1));
}

.equals {
    background: linear-gradient(
                    160deg,
                    rgba(255, 195, 75, 1),
                    rgba(251, 121, 48, 1));
}

.number:hover, .negate:hover, .percent:hover {
    background: linear-gradient(
                    160deg, 
                    rgba(73, 80, 93, 0.5), 
                    rgba(34, 35, 43, 0.5));
}

.operator:hover {
    background: linear-gradient(
                    160deg, 
                    rgba(168, 168, 168, 0.5), 
                    rgba(83, 82, 90, 0.5));
}

.clear:hover {
    background: linear-gradient(
                    160deg, 
                    rgba(218, 104, 104, 0.5), 
                    rgba(190, 27, 27, 0.5));
}

.delete:hover {
    background: linear-gradient(
                    160deg, 
                    rgba(92, 160, 214, 0.5), 
                    rgba(22, 78, 160, 0.5));
}

.equals:hover {
    background: linear-gradient(
                    160deg,
                    rgba(255, 195, 75, 0.5),
                    rgba(251, 121, 48, 0.5));
}


.operator, .equals {
    font-size: 2.2rem;
}

.dot {
    font-size: 3rem;
    padding-bottom: 20px;
}

.mult {
    padding-top: 15px;
}

.minus {
    padding-bottom: 7px;
}


.sound-icon.hidden {
    display: none;
}